.body {
  background-color: aliceblue;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  color: black;
}

.background {
  margin: 50px auto;
  padding: 2px;
  width: 650px;
  height: 800px;
  border: 1px solid rgb(239, 237, 235);
  background-color: rgb(239, 237, 235);
  border-radius: 20px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin: 15px;
}

img {
  border-radius: 20px;
}
h1,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .background {
    width: 350px;
    height: 500px;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 300px;
    height: 300px;
  }

  h1,
  p {
    font-size: 1rem;
    text-align: center;
  }
}
